:root{
	--foncee1: #291c3a;
    --foncee2: #331c52;
    --violet: #8121d0;
    --violet_claire: #dccfed;
    --claire: #e1ebed;
    --blanc: #ffffff;
}

body{
	margin: 0px;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
	flex: 1;
}

a{
	color: inherit;
}

body{
	background: linear-gradient(217deg, var(--foncee1), var(--foncee2));
	color: var(--violet_claire);
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
}

.a-flex{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.a-mainPage{
	margin: 100px 10% 10px 10%;
}

.a-card-up{
	border-radius: 20px 20px 0px 0px;
	background: var(--claire);
	padding: 20px;
	color: #000000;
	margin-bottom: 5px;
	box-shadow: 10px 5px 5px #000000;
}

.a-card{
	background: var(--claire);
	padding: 20px;
	color: #000000;
	margin-bottom: 5px;
	box-shadow: 10px 5px 5px #000000;
}

.a-logo{
	height: 30px;
	margin-left: 10px;
}

.a-marginRight{
	margin-right: 20px;
}

.presentation{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.image1{
	/*width: 40%;*/
	/*margin: 0px 60px;*/
	/*max-width: 50%;*/
}

.texte1{
	padding-left: 20px;
	width: 40%;
}

@media (max-width: 800px) {
	.presentation{
		flex-direction: column;
	}
	
	.texte1{
		width: 80%;
		padding-left: 0px;
	}
}

/* GPT */

.carousel-container {
	position: relative;
	overflow: hidden;
	background: var(--claire);
	color: #000000;
	margin-bottom: 5px;
	box-shadow: 10px 5px 5px #000000;
  }
  .carousel-wrapper {
	display: flex;
  }

.transition{
	transition: transform 0.5s ease;
}

  .carousel-item {
	min-width: 100%;
	position: relative;
  }
  .carousel-item img {
	width: 100%;
	height: auto;
  }
  .carousel-item .text {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
	border-radius: 5px;
  }
  .button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 15px;
	cursor: pointer;
  }
  .button-left {
	left: 10px;
  }
  .button-right {
	right: 10px;
  }
  .button:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Espace entre les cercles */
}


.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: #ffffff;
}



@media (max-width: 800px) {
	.a-mainPage{
		margin: 100px 10px 10px 10px;
	}
}